################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DIY-Thermocam/v14
/Release
/__vm
